{% extends "base.html" %}

{% block content %}
<h1 class="jumbotron">Contact Us</h1>
<div class="contact">
    <p>For availability and bookings, please use our Facebook page below. Follow and <i class="fa fa-thumbs-up" aria-hidden="true"></i> like our page on Facebook and Instagram!</p>
</div>
<br>
<br>
<br>
<br>
<div class="icon">
    <a href="https://www.instagram.com/hart2heart_photos/"><img src="/static/img/glyph-logo_May2016.png" alt="instagram logo" id="ig"></a>
    <a href="https://m.facebook.com/hart2heartphotos/"><img src="/static/img/f_logo_RGB-White_100.png" alt="facebook logo"></a>
    <a><img src="/static/img/Twitter_Social_Icon_Square_White.png" alt="twitter logo"></a>
</div>
{% endblock %}