<!doctype html>
<html>
<head>
    {% load static %}
    <title>Hart2HeartPhotography</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="title">
        <h1>H<span>art</span>2He<span>art</span>Photography.com<br>COMING SOON...</h1>
    </div>
    
    <footer>
        <a href="https://m.facebook.com/hart2heartphotos/"><img class="fb" src="/static/img/fb.png"></a>
        <a href="https://www.instagram.com/hart2heart_photos/"><img class="ig" src="/static/img/ig.png"></a>
    </footer>
</body>
</html>